<!-- <div class="row">
    <h2 style="text-align:center;background-color:#155B97;color:white;position:static;">Home Page </h2>
</div>

<div class="row">
    <div class="col-md-3">
<ul>
    <li><button class="btn btn-info form-control mt-2" (click)="submit()">User Profile</button></li>
    <div *ngIf="step==1">
    <li><button class="btn btn-info form-control mt-2" (click)="Submit()">School Profile</button></li>
    </div>
    <li><button class="btn btn-info form-control mt-2" (click)="logout()">Logout</button></li>
  </ul>
</div>
<div class="col-md-9">
    <img src="http://edustardb.org/edustar/assets/img/login_side_img.png"> 
   <router-outlet></router-outlet>
</div>
</div>


  -->

  <mat-toolbar style="background-color:#E17C00">
    <img  class="db-logo" height="60" src="../../assets/img/dbstar_logo.png">
    <button mat-button (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <label style="color:white;">Don Bosco School of Excellence</label>
  </mat-toolbar>
  <mat-sidenav-container>
    <mat-sidenav mode="side" opened #sidenav>
        <button mat-button class="menu-button" (click)="submit()">
            <mat-icon>contacts</mat-icon>User Profile
        </button>

        <div *ngIf="step==1">
        <button mat-button class="menu-button" (click)="Submit()">
            <mat-icon>account_balance</mat-icon>School Profile
        </button>
        </div>

        <button mat-button class="menu-button" (click)="logout()">
            <mat-icon>keyboard_backspace</mat-icon>Logout
        </button>
    </mat-sidenav>
    <mat-sidenav-content>
        <div class="content">
            <router-outlet></router-outlet>
        </div>
    </mat-sidenav-content>
  </mat-sidenav-container>