<div class="container">
    <form [formGroup]="generalForm" (ngSubmit)="submit()">
    <div class="row">
        <div class="col-md-4" style="background-color:rgb(179, 96, 60) ;"></div>
        <div class="col-md-4" style="background-color:rgb(179, 96, 60) ;"><h2 style="color:white">1.General Information</h2></div>
        <div class="col-md-4" style="background-color:rgb(179, 96, 60) ;"></div>
    </div>
    
    <div class="row mt-3">
        <!-- <div class="col-1"></div> -->
        <div class="col-md-3">
            <label>Roll No</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-school"></i></span>
                    <input type="text" placeholder="roll no" formControlName="id" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>Name of The Institution</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-school"></i></span>
                    <input type="text" placeholder="Institution Name" formControlName="instiName" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>State</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    <select   class="form-select" formControlName="state">
                        <!-- <option selected>--SELECT--</option> -->
                        <option value="Tamil Nadu" formControlName="state">Tamil Nadu</option>
                        <option value="Kerala" formControlName="state">Kerala</option>
                        <option value="Andhra" formControlName="state">Andhra</option>
                    </select>
                </div>
            </div><br/>
    
    
            <label>URL Name</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-school"></i></span>
                    <input type="url" placeholder="www.dbxtirupattur.org" formControlName="urlname" required class="form-control">
                </div>
            </div><br/>
    
            <label>School Location</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-compass"></i></span>
                    <select class="form-select"  formControlName="location">
                        <option selected>--Select School Location--</option>
                        <option value="Urban" formControlName="location">Urban</option>
                        <option value="Semi-Urban" formControlName="location">Semi-Urban</option>
                        <option value="Rural" formControlName="location">Rural</option>
                        <option value="Tribal" formControlName="location">Tribal</option>
                    </select>
                </div>
            </div><br/>
    
            <label>Postal Address</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    <input type="text" placeholder="Semozhi Nagar" formControlName="paddress" required class="form-control">
                </div>
            </div><br/>
    
            <label>City/Town/Villgae</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    <select class="form-select" formControlName="city">
                        <option selected>--SELECT--</option>
                        <option value="TVM" formControlName="city">TVM</option>
                        <option value="TPT" formControlName="city">TPT</option>
                        <option value="T.Nagar" formControlName="city">T.Nagar</option>
                    </select>
                </div>
            </div><br/>
    
    
            <label>Total No.of Teaching Staff</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    <input type="number" placeholder="64" formControlName="nostaff" required class="form-control">
                </div>
            </div><br/>
    
            <label>Current No.of Boys(total)</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-male"></i></span>
                    <input type="number" placeholder="494" formControlName="noboys" required class="form-control">
                </div>
            </div><br/>
    
            <label>Name of The Correspondent</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-alt"></i></span>
                    <input type="text" placeholder="Fr.Alphonese Philiph" formControlName="coname" required class="form-control">
                </div>
            </div><br/>
    
        </div>
            
            <div class="col-1"></div>
        <div class="col-md-3"><label>Oficial Email Id</label>
    
            <!-- <div class="row mt-1"><h4></h4></div> -->
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fa fa-envelope"></i></span>
                    <input type="email" placeholder="vimalvimal0111@gmail.com" formControlName="ofemail" required class="form-control">
                </div>
            </div><br/>
    
            <div class="label"><label>Does your school admit children with special needs?</label>
            <input type="radio" value="yes" formControlName="needs" required>Yes &nbsp;&nbsp;
            <input type="radio" value="no" formControlName="needs" required>No
            </div> <br/>
            
            <label>District</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-map-marker-alt"></i></span>
                    <input type="text" placeholder="Tiruvannamalai" formControlName="district" required class="form-control">
                </div>
            </div><br/>
    
            <label>Pincode</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-compass"></i></span>
                    <input type="number" placeholder="606753" formControlName="pincode" required class="form-control">
                </div>
            </div><br/>
    
            <label>Official Phone Number</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone-alt"></i> </span>
                    <input type="number" placeholder="Enter the official Phone Number" formControlName="ofphno" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>Assessment Academic Year</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-award"></i></span>
                    <select class="form-select" formControlName="acadyear">
                        <option selected>--SELECT--</option>
                        <option value="2022-23" formControlName="acadyear">2022-23</option>
                        <option value="2021-22" formControlName="acadyear">2021-22</option>
                        <option value="2020-21" formControlName="acadyear">2020-21</option>
                    </select>
                </div>
            </div><br/>
    
            <label>Gender</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-venus-mars"></i></span>
                    <input type="text" placeholder="co-educational" formControlName="gender" required class="form-control">
                </div>
            </div><br/>
    
            <label>Current No.of Students(total)</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    <input type="number" placeholder="104" formControlName="cunofstu" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>Correspondent Mobile Number</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-phone-square-alt"></i></span>
                    <input type="number" placeholder="9444800413" formControlName="comono" required class="form-control">
                </div>
            </div><br/>
    
            <label>Medium</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-language"></i></span>
                    <select class="form-select" formControlName="medium">
                        <option selected>--SELECT--</option>
                        <option value="Tamil" formControlName="medium">Tamil</option>
                        <option value="English" formControlName="medium">English</option>
                        <option value="Malayalam" formControlName="medium">Malayalam</option>
                    </select>
                </div>
            </div>
    
    
            <!-- <label>Name of the Principal/Headmaster</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    <input type="text" placeholder="Fr.Arul Sekar S" formControlName="nameofprince" required class="form-control">
                </div>
            </div><br/> -->
    
    
        </div>
        <div class="col-1"></div>
        <div class="col-md-3"><label>Year of Establishment</label>
        
            <!-- <div class="row mt-1"><h4>Year  of Establishment</h4></div> -->
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-layer-group"></i></span>
                    <input type="number" placeholder="2016" formControlName="yearofest" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>Nature Of Affiliation</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-file-signature"></i></span>
                    <select class="form-select" formControlName="natureofaffili">
                        <option selected>--SELECT--</option>
                        <option value="Private Aided" formControlName="natureofaffili">Private Aided</option>
                        <option value="Private Partially-aided" formControlName="natureofaffili">Private Partially-aided</option>
                        <option value="Private Unaided" formControlName="natureofaffili">Private Unaided</option>
                    </select>
                </div>
            </div><br/>
    
            <label>Current No.of Girls(total)</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-female"></i></span>
                    <input type="number" placeholder="55" formControlName="cunofgirls" required class="form-control">
                </div>
            </div><br/>
    
            <label>Total No.of Non Teaching Staff</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    <input type="number" placeholder="14" formControlName="nonteaching" required class="form-control">
                </div>
            </div><br/>
    
            <label>Correspondent Email Id</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" placeholder="alponesesdbg@gmail.com" formControlName="coemailid" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>School Level</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-school"></i></span>
                    <select class="form-select" formControlName="sclevel">
                        <option selected>--SELECT--</option>
                        <option value="Primary" formControlName="sclevel">Primary</option>
                        <option value="Secondary" formControlName="sclevel">Secondary</option>
                        <option value="High School" formControlName="sclevel">High School</option>
                    </select>
                </div>
            </div><br/>
    
    
            <label>Principal/Headmaster Mobile Number</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-mobile-alt"></i></span>
                    <input type="number" placeholder="7531598624" formControlName="headmono" required class="form-control">
                </div>
            </div><br/>
    
            <label>principal/Headmaster Email Id</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-envelope"></i></span>
                    <input type="email" placeholder="arulsekar1974@gmail.com" formControlName="heademailid" required class="form-control">
                </div>
            </div><br/>
    
            <label>Name of the Principal/Headmaster</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-user-circle"></i></span>
                    <input type="text" placeholder="Fr.Arul Sekar S" formControlName="nameofprince" required class="form-control">
                </div>
            </div><br/>
    
    
            <label>Principal/Headmaster Office Phone Number</label>
            <div class="row mt-1">
                <div class="input-group">
                    <span class="input-group-text"><i class="fas fa-blender-phone"></i></span>
                    <input type="email" placeholder="9517532486" formControlName="headofphno" required class="form-control">
                </div>
            </div><br/>
    
        </div>
    </div>
    
    
    <div class="row mt-3"></div>
    <div class="row" mt-3>
        <div class="col-md-5"></div>
        <div class="col-md-2 "><button type="submit" class="btn btn-success">SAVE</button></div>
    </div>
    <div class="row mt-5"></div>
    </form>
    
    </div> 