<div class="row">
    <h2 style="text-align:center;background-color:#155B97;color:white;">Home Page </h2>
</div>

<div class="row">
    <div class="col-md-4">
<ul>
    <li><button class="btn btn-info form-control mt-2" (click)="submit()">User Profile</button></li>
    <div *ngIf="step==1">
    <li><button class="btn btn-info form-control mt-2" (click)="Submit()">School Profile</button></li>
    </div>
    <li><button class="btn btn-info form-control mt-2" (click)="logout()">Logout</button></li>
  </ul>
</div>
<div class="col-md-4">
   <img src="http://edustardb.org/edustar/assets/img/login_side_img.png">
</div>
</div>

 