
<div class="card">
<div class="div" style="background-color:darkgrey; padding-bottom: 24%; padding-top:10%;">
    <form [formGroup]="loginForm">


        <div class="row py-5">
            <div class="col-md-3">   
            </div>
            <div class="col-md-3" style="background-color:white;">
                <img class="img-fluid" src="http://edustardb.org/edustar/assets/img/dbstar_logo.png">
            </div>

            <div *ngIf="step==1" class="col-md-3" style="background-color:white;">
                <h2 class="ms-5" id="h1">Login Page </h2>
                <br /><input class="form-control" type="text" formControlName="username" style="color: #5b0e2d;" placeholder="User Name" required>
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" style="color:red">required</div>
                <input type="text" class="form-control mt-2" formControlName="password" style="color: #5b0e2d;" placeholder="Password" required>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color:red;">required</div>
                <div class="row">
                    <div class="col">
                    <button class="btn mt-3 btn btn-primary" type="submit" (click)="submit()" value="Login" style="color: white;width: 100px;">Login</button>
                    
                    <button class="btn btn btn-primary mt-3 ms-5"  routerLink="/register" style="color: white;">Register</button>
                </div>
                    <button id="fp" (click)="next()">forgot password?</button>
                </div><br/>
            </div>



            <div *ngIf="step==2" class="col-md-3" style="background-color:white;">
                <h3 class="ms-4" id="h1">Forgot Password </h3>
                <label style="color:red;">{{raise}}</label>
                <br /><input class="form-control" type="text" formControlName="id" style="color: #5b0e2d;" placeholder="Roll No" required>
                <div *ngIf="loginForm.get('id')?.invalid && loginForm.get('id')?.touched" style="color:red">required</div>
                <input type="text" class="form-control mt-2" formControlName="username" style="color: #5b0e2d;" placeholder="User Name" required>
                <div *ngIf="loginForm.get('username')?.invalid && loginForm.get('username')?.touched" style="color:red;">required</div>
                <div class="row">
                    <div class="col">
                    <button class="btn mt-3 btn btn-success" (click)="forgot()" style="color: white;width: 100px;">Submit</button>
                    
                    <button class="btn btn btn-danger mt-3 ms-5"  (click)="previous()" style="color: white;">Cancel</button>
                </div>
                </div><br/>
            </div>





            <div *ngIf="step==3" class="col-md-3" style="background-color:white;">
                <h3 class="ms-4" id="h1">Change Password </h3>
                <label style="color:red;">{{invalid}}</label><br/>
                <label>Your OTP is {{otp1}}</label>
                <br /><input class="form-control" type="text" formControlName="otp" style="color: #5b0e2d;" placeholder="Enter OTP" required>
                <div *ngIf="loginForm.get('otp')?.invalid && loginForm.get('otp')?.touched" style="color:red">required</div>
                <input type="text" class="form-control mt-2" formControlName="password" style="color: #5b0e2d;" placeholder="Enter New Password" required>
                <div *ngIf="loginForm.get('password')?.invalid && loginForm.get('password')?.touched" style="color:red;">required</div>

                <div class="row">
                    <div class="col">
                    <button class="btn mt-3 btn btn-success" (click)="changepass()" style="color: white;width: 100px;">Submit</button>
                    
                    <button class="btn btn btn-danger mt-3 ms-5"  (click)="previous()" style="color: white;">Cancel</button>
                </div>
                </div><br/>
            </div>




        </div>

    </form>
</div>
</div>
 





 
